@media only screen and (max-width: 768px) and (min-width: 480px) {
  .col-sm-1 {
    width: calc(calc(100% / 12) * 1) !important;
  }
  .col-sm-2 {
    width: calc(calc(100% / 12) * 2) !important;
  }
  .col-sm-3 {
    width: calc(calc(100% / 12) * 3) !important;
  }
  .col-sm-4 {
    width: calc(calc(100% / 12) * 4) !important;
  }
  .col-sm-5 {
    width: calc(calc(100% / 12) * 5) !important;
  }
  .col-sm-6 {
    width: calc(calc(100% / 12) * 6) !important;
  }
  .col-sm-7 {
    width: calc(calc(100% / 12) * 7) !important;
  }
  .col-sm-8 {
    width: calc(calc(100% / 12) * 8) !important;
  }
  .col-sm-9 {
    width: calc(calc(100% / 12) * 9) !important;
  }
  .col-sm-10 {
    width: calc(calc(100% / 12) * 10) !important;
  }
  .col-sm-11 {
    width: calc(calc(100% / 12) * 11) !important;
  }
  .col-sm-12 {
    width: calc(calc(100% / 12) * 12) !important;
  }
}
